<div class="" style="width: 100%;">
  <div class="row">
    <div class="col w-100 my-auto">
      <h1 class="text-center p-3 fst-italic" style="font-size: 60px;">Administración <br> de <br> Viajes</h1>
    </div>
    @if (!update) {
      <div class="col w-50">
        <app-agregar [nuevoViaje]="newViaje" [tipo]="false"></app-agregar>
      </div>
    }
    @if (update) {
      <div class="col w-50">
        <app-agregar [nuevoViaje]="newViaje" [tipo]="true"></app-agregar>
      </div>
    }
  </div>
  <h3 class="text-center">Registros</h3>
  <table class="table table table-hover table-striped">
    <thead>
      <tr>
        <th class="text-light" style="background-color: #2B4162;">Código</th>
        <th class="text-light" style="background-color: #2B4162;">Origen</th>
        <th class="text-light" style="background-color: #2B4162;">Destino</th>
        <th class="text-light" style="background-color: #2B4162;">Hora</th>
        <th class="text-light" style="background-color: #2B4162;">Fecha</th>
        <th class="text-light" style="background-color: #2B4162;">Bus</th>
        <th class="text-light" style="background-color: #2B4162;">Tripulacion</th>
        <th class="text-light" style="background-color: #2B4162;">Action</th>
        <th class="text-light" style="background-color: #2B4162;">Actualizar</th>
        <th class="text-light" style="background-color: #2B4162;">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for (viaje of ListaViajes; track viaje) {
        <tr>
          <td>{{ viaje.codigo }}</td>
          <td>{{ viaje.origen }}</td>
          <td>{{ viaje.destino }}</td>
          <td>{{ viaje.hora }}</td>
          <td>{{ viaje.fecha | date:'dd-MM-yyyy' }}</td>
          <td>{{ viaje.bus.placa }}</td>
          <td> <img class="p-1 bg-light rounded" src="assets/img/tripulacion.png" alt="" width="25" height="25">: {{ viaje.tripulacion.personas }} <img class="p-1 bg-light rounded" src="assets/img/chofer.png" alt="" width="25" height="25">: {{ viaje.tripulacion.choferes.length }}</td>
          <td>
            <button type="button" class="btn mx-1 text-light" (click)="TerminarViaje(viaje)"  [disabled]="viaje.estado == 'Arrivado'" [ngStyle]="{'background': viaje.estado === 'Arrivado' ? 'green' : 'red'}">{{ viaje.estado === 'Arrivado' ? viaje.estado : 'Concluir' }}</button>
          </td>
          <td>
            <button type="button" class="btn mx-1 text-light" (click)="editarViaje(viaje)" [disabled]="viaje.estado == 'Arrivado'" style="background-color: #2B4162;">Actualizar</button>
          </td>
          <td>
            <button type="button" class="btn text-light" (click)="eliminarViaje(viaje)" [disabled]="viaje.estado == 'Arrivado'" style="background-color: #541b2b;">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div  #liveToast class="toast bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-dark text-light">
      <img src="assets/img/viaje.png" class="rounded me-2" alt="..." width="20" height="20">
      <strong class="me-auto">{{ title }}</strong>
      <small>{{ tipoT }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ description }}
    </div>
  </div>
</div>