<div class="" style="width: 100%;">
  <div class="row">
    <div class="col w-100 my-auto">
      <h1 class="text-center p-3 fst-italic" style="font-size: 60px;">Administración <br> de <br> Buses</h1>
    </div>
    @if (!update) {
      <div class="col">
        <app-agregar [Nuevo]="newBus" [tipo]="false"></app-agregar>
      </div>
    }
    @if (update) {
      <div class="col">
        <app-agregar [Nuevo]="newBus" [tipo]="true"></app-agregar>
      </div>
    }
  </div>
  <h3 class="text-center">Registros</h3>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th class="text-light" style="background-color: #2B4162;">Código</th>
        <th class="text-light" style="background-color: #2B4162;">Placa</th>
        <th class="text-light" style="background-color: #2B4162;">Tipo</th>
        <th class="text-light" style="background-color: #2B4162;">Estado</th>
        <th class="text-light" style="background-color: #2B4162;">Actualizar</th>
        <th class="text-light" style="background-color: #2B4162;">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for (bus of ListaBuses; track bus) {
        <tr>
          <td>{{ bus.codigo }}</td>
          <td>{{ bus.placa }}</td>
          <td>{{ bus.tipo }}</td>
          <td>{{ bus.estado }}</td>
          <td>
            <button type="button" class="btn mx-1 text-light" (click)="editarBus(bus)" style="background-color: #2B4162;">Actualizar</button>
          </td>
          <td>
            <button type="button" class="btn text-light" (click)="eliminarBus(bus)" style="background-color: #541b2b;">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div  #liveToast class="toast bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-dark text-light">
      <img src="assets/img/bus.png" class="rounded me-2" alt="..." width="20" height="20">
      <strong class="me-auto">{{ title }}</strong>
      <small>{{ tipoT }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ description }}
    </div>
  </div>
</div>
