<div class="" style="width: 100%;">
  <div class="row">
    <div class="col w-100 my-auto">
      <h1 class="text-center p-3 fst-italic" style="font-size: 60px;">Administración <br> de <br> Tripulaciones</h1>
    </div>
    @if (!update) {
      <div class="col w-100">
        <app-agregar [nuevaTripulacion]="newTripulacion" [tipo]="false"></app-agregar>
      </div>
    }
    @if (update) {
      <div class="col w-100">
        <app-agregar [nuevaTripulacion]="newTripulacion" [tipo]="true"></app-agregar>
      </div>
    }
  </div>
  <h3 class="text-center">Registros</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="text-light" style="background-color: #2B4162;">Código</th>
        <th class="text-light" style="background-color: #2B4162;">Personas</th>
        <th class="text-light" style="background-color: #2B4162;">Cedula Choferes</th>
        <th class="text-light" style="background-color: #2B4162;">Nombres Choferes</th>
        <th class="text-light" style="background-color: #2B4162;">Actualizar</th>
        <th class="text-light" style="background-color: #2B4162;">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for (tripulacion of ListaTripulaciones; track tripulacion; let i = $index) {
        <tr>
          <td>{{ tripulacion.codigo }}</td>
          <td>{{ tripulacion.personas }}</td>
          <td>
            @for (chofer of tripulacion.choferes; track chofer) {
              <span> <b>{{ chofer.codigo }}</b>:  {{ chofer.cedula }} <br></span>
            }
          </td>
          <td>
            @for (chofer of tripulacion.choferes; track chofer) {
              <span> <b>{{ chofer.codigo }}</b>: {{ chofer.nombres }} {{ chofer.apellidos }}<br></span>
            }
          </td>
          <td>
            <button type="button" class="btn mx-1 text-light" (click)="editarTripulacion(tripulacion)" style="background-color: #2B4162;">Actualizar</button>
          </td>
          <td>
            <button type="button" class="btn text-light" (click)="eliminarTripulacion(tripulacion)" style="background-color: #541b2b;">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div  #liveToast class="toast bg-dark text-light" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-dark text-light">
      <img src="assets/img/tripulacion.png" class="rounded me-2" alt="..." width="20" height="20">
      <strong class="me-auto">{{ title }}</strong>
      <small>{{ tipoT }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ description }}
    </div>
  </div>
</div>